<footer class="footer footer-black  footer-white ">
  <div class="container-fluid">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="#" target="_blank">有名BBS</a>
          </li>
          <li>
            <a href="#" target="_blank">数据库概论大作业·18秋</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>  薛宇燕，谢李文含，龚主
        </span>
      </div>
    </div>
  </div>
</footer>
