{% extends "layout.html" %} {{ super() }} {% block content %}
<script>
  let current = $('#sidebar-profile')
  let son = current.children('a')
  current.addClass("active")
  son.css('color', '#ef8157')
  son.css('opacity', 1)
  son.children('i').css('color', '#ef8157')
  son.children('i').css('opacity', 1)
</script>
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image" style="background-color:#e8e8e8">
          <!-- <img src="../assets/img/damir-bosnjak.jpg" alt="..."> -->
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
                    {% if user.usr_gender == 'Female' %}
                      <img class="avatar border-gray" src="{{ url_for('static', filename='images/Female.png')}}" alt="...">
                    {% else %}
                      <img class="avatar border-gray" src="{{ url_for('static', filename='images/Male.png')}}" alt="...">
                    {% endif %}
                    <h5 class="title">{{user.usr_name}}</h5>
                  </a>
            <p class="description">
              {% if user.usr_gender == 'Female' %} 女孩子 {% else %} 男孩子 {% endif %} &nbsp;{{user.usr_age}}岁({{user.usr_birthday}})
            </p>
          </div>
          <p class="description">
            入驻：{{user.usr_regdate}}
          </p>
          <p class="description">
            邮箱：<a href="mailto:{{user.usr_email}}">{{user.usr_email}}</a>
          </p>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-6 ml-auto">
                <h5>{{user.usr_level}}
                        <br>
                        <small>等级</small>
                      </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>{{user.usr_postcnt}}
                        <br>
                        <small>发帖</small>
                      </h5>
              </div>
              <div class="col-lg-3 mr-auto">
                <h5>{{user.usr_replycnt}}
                        <br>
                        <small>回帖</small>
                      </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">签名档</h4>
        </div>
        <div class="card-body">
          <p class="description">
            我最喜欢数据库了，数据库可真有意思，做前端一点儿都不累<i class="fas fa-smile"></i>。
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">发帖纪录</h5>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>帖子名称 </th>
                <th> 版面</th>
                <th> 回帖数 </th>
                <th>点击数 </th>
                <th class="text-right">时间 </th>
              </thead>
              <tbody>
                {% for post in user.post %}
                <tr>
                  <td> {{ post.p_title|safe}} </td>
                  <td>  {{post.p_board}} </td>
                  <td>  {{post.p_replycnt }}</td>
                  <td>  {{post.p_clickcnt}}</td>
                  <td class="text-right"> {{post['p_time']}} </td>
                </tr>
                 {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>


      <div class="card">
        <div class="card-body">
            <h5 class="card-title">回复记录</h5>
          <div class="table-responsive">
            <table class="table"
                   id="autoTable"  data-toggle="true"
                   data-toolbar="#toolbar"
                   data-search="true"
                   data-show-columns="true"
                   data-pagination="true"
                   height = "500">

            </table>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  let columns = [{field: 'p_clickcnt',
  title: '点击量',
  align: 'center',

}, {
  title: '评论数',
  field: 'p_replycnt',
  align: 'center',

  }]
  let columnsa = [{field: 'p_name',
                title: '帖子名',
                align: 'left',
                width: '200px'

            }, {
                field: 'p_board',
                title: '板块',
                align: 'left'
            }, {
                field: 'p_clickcnt',
                title: '点击量',
                align: 'center',

            }, {
                title: '评论数',
                field: 'p_replycnt',
                align: 'center',
                // formatter: function (value, row, index) {
                //     var e = '<a href="#" mce_href="#" onclick="edit(\'' + row.id + '\')">编辑</a> ';
                //     var d = '<a href="#" mce_href="#" onclick="del(\'' + row.id + '\')">删除</a> ';
                //     return e + d;
                // }
            },{
               title: '时间',
               field: 'p_time',
               align: 'right',
               // formatter: function (value, row, index) {
               //     var e = '<a href="#" mce_href="#" onclick="edit(\'' + row.id + '\')">编辑</a> ';
               //     var d = '<a href="#" mce_href="#" onclick="del(\'' + row.id + '\')">删除</a> ';
               //     return e + d;
               // }
           }]

         let data = {{user.reply|safe}}
         console.log(data, columns)
         $(function() {
           $('#autoTable').bootstrapTable({
             data: data,
             columns: columns,
             striped: false
           })})



    </script>
{% endblock %}
