  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <title>
  有名BBS
  </title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="{{ url_for('static', filename='vendor/css/demo.css')}}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}"> -->
  <link href="{{ url_for('static', filename='vendor/css/paper-dashboard.css')}}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='vendor/js/core/jquery.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-table/dist/bootstrap-table.min.css')}}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-5.6.3/all.min.css')}}">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />
